# Azure Functions / Local environment
local.settings.json
.env

# Node.js
node_modules/
dist/
build/

# Draw.io y copias de seguridad
*.bkp
*.tfstate*
*.tfvars*
*.terraform*


# Editor y OS
.vscode/
.terraform/
.DS_Store
Thumbs.db
